<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameWorld | Signup </title>
    <link rel="stylesheet" href="../css/account.css">
</head>

<body>
    <main>
        <div class="form-container">
            <form id="signup-form">
                <h1>Sign up</h1>
                <hr class="line">
                <div class="input-group">
                    <input type="text" id="name" name="name" placeholder="" required>
                    <label for="name">Name:</label>
                </div>
                <br>
                <div class="input-group">
                    <input type="email" id="email" name="email" placeholder="" required>
                    <label for="email">Email:</label>
                </div>
                <br>
                <div class="input-group">
                    <input type="password" id="password" name="password" placeholder="" required>
                    <label for="password:">Password:</label>
                </div>
                <button>
                    Create Account
                    <div class="arrow-wrapper">
                        <div class="arrow"></div>

                    </div>
                </button>

                <div class="go-to">
                    <a href="login.html">Already have an account</a>
                </div>

            </form>
        </div>
    </main>
    <script src="../js/auth.js"></script>
</body>

</html>